.mainProductsTableWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainProductsTableWrapper>*{
    margin-top: 15px;
}

.filterInput{
    display: flex;
}

.filterInput input{
    width: 150px;
    margin-left: 15px;
}

.productsTableWrapper{
    height: 360px;
}

.productsTable p {
    height: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsTableWrapper tbody tr{
    cursor: pointer;
}

.productsTable{
    width: 300px;
    max-height: 360px;
}

.productsTable tr{
    height: 20px;
}